<nav>
    <div>
        <a href="{{ path('page_index_steam') }}" class="d-block">
            <img id="logo" src="/assets/images/logo.png" alt="Logo">
        </a>
        <img id="diamond" src="/assets/images/diam.png" alt="diamond"><br>
        <img id="cadi" src="/assets/images/cadi.png" alt="cadi"><br>
    </div>
    <div>
        <img id="download" src="/assets/images/telech.png" alt="download"><br>
        <img id="param" src="/assets/images/param.png" alt="param"><br>
        <img id="compte" src="/assets/images/compte.png" alt="compte">
    </div>
</nav>