<nav>
    <div>
        <a href="index.steam.html.twig" class="d-block">
            <img id="logo" src="/assets/uploads/logo.png" alt="Logo">
        </a>
        <img id="diamond" src="/assets/uploads/diam.png" alt="diamond"><br>
        <img id="cadi" src="/assets/uploads/cadi.png" alt="cadi"><br>
    </div>
    <div>
        <img id="download" src="/assets/uploads/telech.png" alt="download"><br>
        <img id="param" src="/assets/uploads/param.png" alt="param"><br>
        <img id="compte" src="/assets/uploads/compte.png" alt="compte">
    </div>
</nav>